.bassist {
  background-image: url("../images/bassist.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.bassist h1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.466);
  top: 400px;
}